html {
	height: 100%;
	opacity: 0;
}

body {
	height: 100%;
	background-image:url('../img/bg.png');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center; 
}

h1 {
	font-family: 'Montserrat';
	letter-spacing:4px;
	text-align: center;
	color: white;
	}

h2 {
	font-family: 'Lato';
	letter-spacing:3px;
	text-align: center;
	color: white;
	}

h3 {
	font-family: 'Lato';
	letter-spacing:1px;
	text-align: center;
}

h4 {
	font-family: 'Lato';
	font-size:14px;
	letter-spacing:1px;
	text-align: center;
}

header {
    background: white;
    height: 60px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    border-bottom-style: solid;
    border-color: #eceff3;
    border-width: 2px;
    	z-index: 99;
}

.nav-up {
    top: -60px;
}

.navigation {
	font-family: 'Lato';
	color: #7c8081;
	padding: 20px 30px 15px 30px;
	text-transform: uppercase;
	padding-bottom: 30px;
	z-index: 99;
}

.navigation a {
	color: #7c8081;
	padding: 0px 10px 0px 10px;
}
.navigation ul {
	list-style: none;
	padding-left: 0;
	font-size: 16px;
}

.navigation li {
	display: inline;
	padding: 0px 5px 0px 5px;
}

.navigation2 {
	font-family: 'Lato';
	color: white;
	padding: 20px 30px 15px 30px;
	text-transform: uppercase;
	padding-bottom: 30px;
	z-index: 0;
}

.navigation2 a {
	color: white;
	padding: 0px 10px 0px 10px;
}
.navigation2 ul {
	list-style: none;
	padding-left: 0;
	font-size: 16px;
}

.navigation2 li {
	display: inline;
	padding: 0px 5px 0px 5px;
}

.intro { 
	background-color: rgba(0,0,0,0.5);
	width: 700px;
	font-size: 58px;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 160px;
	padding: 30px 5px 30px 5px;
	opacity: 0;
	}

.intro h1 {
	padding: 0px 0px 20px 0px;
	font-size: 58px;
	text-align: center;
	text-transform: uppercase;
	}

.intro h2 {
	font-family: 'Lato';
	font-size: 20px;
	font-weight: 300;
	line-height: 38px;
	text-align: left;
	padding-left: 70px;
	padding-right: 50px;
}




.intro p {
	text-align: center;
}

.intro img {
	margin-left: 39px;
}
.bgspace {
	min-height: 1000px;
	width: 100%;
	background-color: #f3f6fa;
	padding: 0px 0px 100px 0px;
	text-align: center;
}

.experience {
	padding: 100px;
	margin-top:100px;
	background-color: white;
	box-shadow: rgba(210, 210, 210, 0.4) 0px 2px 5px;
}

.experience i {
	color: #7c8081;
}

.experience h1 {
	color: #7c8081;
	font-weight: 400;
	padding: 0px 0px 20px 0px;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	}

.experience h3 {
	color: #7c8081;
	font-family: 'Lato';
	font-size: 20px;
	font-weight: 300;
	text-align: left;
	padding-top: 8px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
	letter-spacing: 2px;
	}

.experience h4 {
	text-align: left;
	font-family: 'Lato';
		color: #7c8081;
		line-height: 25px;
		font-weight: 300;

}

.experience h5 {
		text-align: left;
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		font-weight: 800;
		color: #7c8081;
		line-height: 25px;
		margin: 0px;
		padding-top:5px;
		letter-spacing: 2px;
		text-transform: uppercase;
}
.experience .row {
	margin-left: 50px;
	margin-bottom: 30px;
}

.experience .col-md-3 {
	padding-top: 30px;
	padding-right: 0px;
	padding-left: 0px;
	width: 150px;
}

.experience .col-md-9 {
	width: 740px;
}

.experience ul {
	padding-left: 20px;
	padding-right: 18px;
	list-style-type: square;
	color: #7c8081;
}


.education {
	padding: 100px;
	margin-top:100px;
	background-color: #83d3c9;
	box-shadow: rgba(210, 210, 210, 0.4) 0px 2px 5px;
}

.education i {
	color: white;
}

.education h1 {
	color: white;
	font-weight: 400;
	padding: 0px 0px 20px 0px;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	}

.education h3 {
	color: white;
	font-family: 'Lato';
	font-size: 20px;
	font-weight: 300;
	line-height: 38px;
	text-align: left;
	padding-left: 150px;
	padding-right: 150px;
	}


.volunteer {
	padding: 100px;
	margin-top:0px;
}

.volunteer i {
	color: #7c8081;
}

.volunteer h1 {
	color: #7c8081;
	font-weight: 400;
	padding: 0px 0px 20px 0px;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	}

.volunteer h3 {
	color: #7c8081;
	font-family: 'Lato';
	font-size: 20px;
	font-weight: 300;
	line-height: 38px;
	text-align: left;
	padding-left: 150px;
	padding-right: 150px;
	}

.contact {
	height:300px;
	padding-top: 50px;
	background-image:url('../img/bg.png');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center; 
	text-align:center;
}
.contact h2 {
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 100px;
}

.contact a {
	font-family: 'Lato';
	background-color: #83d3c9;
	letter-spacing:2px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	display: inline;
	padding: 19px 35px 19px 35px;
	margin-right: 15px;
}

.contact a:hover {
	background-color: #b4e8e2;
}

.copyright {
	height:280px;
	width: 100%;
	background-color: #f3f6fa;
	padding-top:30px;
}
