


h3 {
	font-family: 'Droid Serif', sans-serif;
	color: #333;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;

}

h4 {
	font-family: 'Droid Serif', sans-serif;
	color: #333;
	font-size: 15px;
	line-height: 25px;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;

}


h6.copyright {
	font-family: 'Droid Serif', sans-serif;
	color: #333;
	border-top: 1px solid #ddd;
	text-align: center;
	padding-top: 40px;
}
h3.intro {
text-align: left;
font-size: 18px;
max-width: 660px;
margin: 0 auto;
padding-top: 100px;
padding-right: 0px;
padding-bottom: 50px;
padding-left: 0px;
line-height: 35px;
}

.intro p{
	text-align: center;
	margin-right: 20px;
	left:50px;
}
.jumbotron {
	background-image: url(../img/bg.jpg);
	height: 280px;
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 0px;
}

.jumbotron .container {
	position: relative;
	top: 0px;


}
.jumbotron h1 {
	font-family: 'Montserrat';
	margin-bottom:0px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;

}

.jumbotron a {
	color: white;
}

.jumbotron a:hover {
	color: #AAAAAA;
}

.jumbotron i {
	text-shadow: black 0.1em 0.1em 0.2em;
	text-align: center;
	margin: 20px;
}
.jumbotron p {
	color:white;
	text-align: center;
	position: relative;
	top: 0px;
}

.learn-more {
	padding-top: 80px;
	padding-bottom: 80px;
	margin-bottom: 100px;
	background-color: #001F3F;
	color: white;
}


.learn-more h4 {
	color: white;
}
.learn-more .col-md-4 i {
	text-align: center;
	margin-left: auto;
	position: relative;
	left: 140px;
	margin-bottom: 20px;
}
.photo {
	margin: 0 0 -60px -60px;
	bottom: 0px;

}

.photo img {
	display: block;
	position: relative;
	width: 120px;
	height: 120px;
	left: 28px;
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	box-shadow: 0 -3px 4px #343536;
	box-shadow: 0 -3px 4px rgba(0,0,0,0.5);
	padding: 3px;
	background: #fff;
}