
h3.intro {
text-align: center;
font-size: 22px;
max-width: 660px;
margin: 0 auto;
padding-top: 100px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
line-height: 30px;
}
.jumbotron {
	background-image: url('http://wallpapers.wallbase.cc/rozne/wallpaper-12470.jpg');
	height: 280px;
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 0px;
}

.jumbotron .container {
	position: relative;
	top: 0px;


}
.jumbotron h1 {
	font-family: 'Shift', sans-serif;
	margin-bottom:0px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;

}

.jumbotron a {
	color: white;
}

.jumbotron a:hover {
	color: #AAAAAA;
}

.jumbotron i {
	text-shadow: black 0.1em 0.1em 0.2em;
	text-align: center;
	margin: 20px;
}
.jumbotron p {
	color:white;
	text-align: center;
	position: relative;
	top: 0px;
}

.learn-more {
	background-color: #f7f7f7;
}

.intro {

}

.photo {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	left: 50%;
	margin: 0 0 -60px -60px;
	bottom: 0px;

}

.photo img {
	width: 120px;
	height: 120px;
	-webkit-border-radius: 100px;
-moz-border-radius: 100px;
-ms-border-radius: 100px;
-o-border-radius: 100px;
border-radius: 100px;
box-shadow: 0 -3px 4px #343536;
box-shadow: 0 -3px 4px rgba(0,0,0,0.5);
padding: 3px;
background: #fff;
}