

html {
	height: 100%;
}
body {
	height: 100%;
}
h3 {
	font-family: 'Montserrat';
	color: #333;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;

}

h4 {
	font-family: 'Montserrat';
	color: #333;
	font-size: 15px;
	line-height: 25px;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;

}

.copyright {
	background-color: #99B2B7;
	margin: 0px;
	padding-top: 60px;
	padding-bottom: 30px;
}
h6.copyright {
	font-family: 'Montserrat';
	color: #333;
	border-top: 1px solid #ddd;
	text-align: center;
}

.articles {
	padding-left: 0px;
	max-width: 800px;
	margin: 0 auto;
	text-align: left;
	padding-left:0px;
	padding-right:0px;
	padding-top: 80px;
	padding-bottom: 80px;
	position:relative;
	right: 0px;
	display: inline;
}


.articles .container {
	max-width: 1000px;
	margin-top: 60px;
	margin-bottom: 60px;
}


.articles p {
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 800px;
}

}
.entry {
	min-height: 200px;
	margin-top: auto;
	margin-bottom: auto;
}
.textcontent {
		display: inline;
}
.entry h4{
		display;
}
.articles img{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	max-width: 100%;
	margin-right:0px;
	color: red;
}

.intro {
	background-color: #D9CEB2;
}
.intro h2{
	font-family: 'Montserrat';
	letter-spacing:2px;
	text-align: left;
	font-size: 37px;
	max-width: 660px;
	margin: 0 auto;
	padding-top: 90px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	line-height: 48px;
}

.intro h3{
	text-align: left;
	font-size: 18px;
	max-width: 660px;
	margin: 0 auto;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
	line-height: 35px;
}

.intro p{
	text-align: center;
	margin-top:40px;
	margin-right: 20px;
	left:50px;
}
.jumbotron {
  background: url(http://wallpapers.wallbase.cc/rozne/wallpaper-2989910.jpg) no-repeat center center fixed; 
  background-repeat:repeat-y;
    background-repeat:repeat-x;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;


}

.jumbotron .container {
	position: relative;
	top: 170px;
	opacity: 0;
	background-color: rgba(0,0,0,0.6);
	width: 700px;


}
.jumbotron h1 {
	border-top-style: solid;
	border-bottom-style: solid;
	font-family: 'Montserrat';
	letter-spacing:4px;
	margin-bottom:0px;
	margin-top: 80px;
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
	width: 370px;


}

.jumbotron h2 {
	font-family: 'Montserrat';
	font-size: 25px;
	letter-spacing:4px;
	margin-bottom:0px;
	margin-top: 0px;
	position: relative;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;


}

.jumbotron a {
	color: white;
}
.jumbotron a:hover {
	position: relative; 
	top: -5px;
}

.jumbotron i {
	text-shadow: black 0.1em 0.1em 0.2em;
	text-align: center;
	margin: 20px;
}
.jumbotron p {
	color:white;
	text-align: center;
	position: relative;
	top: 0px;
}

.learn-more {
	padding-top: 80px;
	padding-bottom: 80px;
	margin-bottom: 0px;
  background: url(http://wallpapers.wallbase.cc/rozne/wallpaper-2989910.jpg) no-repeat center center fixed; 
  background-repeat:repeat-y;
    background-repeat:repeat-x;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	color: #333;
}


.learn-more h4 {
	color: #333;
}
.learn-more .col-md-4 i {
	text-align: center;
	margin-left: auto;
	position: relative;
	left: 140px;
	margin-bottom: 20px;
}
.photo {
	margin: 0 0 -60px -60px;
	bottom: 0px;

}

.photo img {
	display: block;
	position: relative;
	width: 120px;
	height: 120px;
	left: 28px;
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	box-shadow: 0 -3px 4px #343536;
	box-shadow: 0 -3px 4px rgba(0,0,0,0.5);
	padding: 3px;
	background: #fff;
}

.tabledata {
	background-color: #D9CEB2;
	margin: 0px;
	border: 0px;
	padding-top: 60px;
	padding-bottom: 60px;
}